// ==========================================================================
// Video Atom
// ==========================================================================

// wraps the iframe embed so we can use fluid vids and still get rounded corners
.video {
    border-radius: rem-calc(5);
    overflow: hidden;
    &,
    video {
        max-width: 100%;
    }
}
