// ==========================================================================
// Lede Atom
// ==========================================================================

.lede {
    // Mobile we match the font size so it's not overwhelming but leave the bold
    font-size: ms(0);
    line-height: 1.66;

    // Medium + we go to the standard lede size
    @include respond-to(medium) {
        font-size: ms(1);
    }
}
