// ==========================================================================
// Avatar Atom
// ==========================================================================

.avatar {
    border-radius: 100%;
    background: #EEEEEE;
    width: rem-calc(40);
    height: rem-calc(40);

    img {
        border-radius: 100%;
        mac-width: 100%;
    }
}
