// ==========================================================================
// Close Atom
// ==========================================================================

@mixin close() {
    display: block;
    position: relative;
    width: rem-calc(50);
    height: rem-calc(50);

    &:before, &:after {
        position: absolute;
        left: 45%;
        top: 17%;
        content: ' ';
        height: rem-calc(30);
        width: rem-calc(2);
        background-color: palette(black);
    }

    &:before {
        transform: rotate(45deg);
    }

    &:after {
        transform: rotate(-45deg);
    }

    &:hover {
        &:before, &:after {
            background-color: palette(primary);
        }
    }
}


// Small modifier halves the size of the close icon
.close-kind--small {
    width: rem-calc(18);
    height: rem-calc(18);
    position: relative;
    display: block;

    &:before, &:after {
        position: absolute;
        left: 90%;
        top: 0;
        content: ' ';
        height: rem-calc(15);
        width: rem-calc(2);
        background-color: palette(white);
    }

    &:before {
        transform: rotate(45deg);
    }

    &:after {
        transform: rotate(-45deg);
    }

    &:hover {
        &:before, &:after {
            background-color: palette(white);
        }
    }
}
