// ==========================================================================
// Blockquote Atom
// ==========================================================================

blockquote {
    text-align: left;
    margin: spacing(25 0);
    position: relative;

    // Font sizing and params for quote icons before and after text
    &:before {
        font-size: ms(4);
        display: block;
        position: absolute;
        left: -0.5em;
        // vertical-align: baseline;
    }

    // The '“' quote icon before the text
    &:before {
        content: "“";
        margin-right: spacing(3);
    }
}
