// ==========================================================================
// Logo Atom
// ==========================================================================

.logo {
    fill: white;
    width: rem-calc(80);

    @include respond-to(medium) {
        width: rem-calc(130);
    }
    @include link-hover() {
        opacity: 0.85;
    }
}
